<div class="sm:w-full md:w-1/2 gap-8 flex flex-col justify-center rounded pl-16 relative" data-aos="fade-right" data-aos-delay="{{ aos_delay }}" data-aos-once="true">
    <h3 class="text-5xl text-left font-bold text-[#3854CA] text-center">Our Menu</h3>

    {# MENU #}
    <div class="border rounded flex overflow-scroll max-h-[80vh]" id="menu">
        {% include '_components/menu_column.twig' with {
            is_left_column: true,
            categories: left_column_data
        } %}
        {% include '_components/menu_column.twig' with {
            is_left_column: false,
            categories: right_column_data
        } %}
    </div>
</div>