{% extends '_layouts/base.twig' %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/swiper@11/swiper-bundle.min.css"/>
{% endblock %}

{% block body %}

    {% include '_components/video_landing.twig' with { src: '/assets/videos/placeholder-2.mov' } %}

    <section class="w-full flex flex-col justify-center items-center relative overflow-hidden p-8 md:p-16 min-h-screen sm:min-h-fit gap-y-16 md:gap-y-48">

        {# Community Impact & Inclusion #}
        {% include '_components/sections/image_text_section.twig' with {
            layout: 'img_right_text_left',
            image_src: '/assets/images/bridge_team_4.png',
            image_alt: 'Quirky Emporium',
            title: 'Community Impact & Inclusion',
            text: 'Beyond vocational training, the Bridge Association actively fosters community integration for adults with learning disabilities. Through participation in events like the George Best Community Cup, trainees engage in inclusive activities that promote social interaction, confidence, and personal development. The organisation also builds strong local partnerships and encourages trainees to take part in volunteering and community-based projects, helping them connect with others and contribute meaningfully to society.',
            image_aos_delay: '300',
            text_aos_delay: '100',
            extra_class: 'md:min-h-screen',

        } %}

        {# Building a Connected Community #}
        {% include '_components/sections/image_text_section.twig' with {
            layout: 'img_left_text_right',
            image_src: '/assets/images/bridge_team_2.png',
            image_alt: 'Landscape',
            title: 'Building a Connected Community',
            text: 'Our new facility will include a community space designed to bring people together through events and activities. It will promote wellbeing, inclusion, and engagement, especially among vulnerable or hard-to-reach groups. As a hub for people with disabilities, the centre will offer needs-led services supporting access to training, education, and employment. With classrooms, workshops, a shop, kitchen, and horticulture areas, it will build skills, confidence, and independence. The space will also be open to the wider community, providing access to programmes that support health, wellbeing, learning, and connection.',
            image_aos_delay: '200',
            text_aos_delay: '400',
            extra_class: 'md:min-h-screen',
        } %}

        {# Quirky Choir #}
        {% include '_components/sections/image_text_section.twig' with {
            layout: 'img_right_text_left',
            image_src: '/assets/images/bridge_team_1.png',
            image_alt: 'Coast',
            title: 'Quirky Choir',
            text: 'The Quirky Choir is a fun and inclusive singing group made up of trainees from The Bridge Association. Through music, members build confidence, express themselves, and connect with others. They regularly perform at local venues such as Shopping Centres, Nursing Homes, and Day Centres, spreading joy and showcasing their talents across the community. In 2023, the choir helped The Bridge earn the \'Reason for the Season\' award from Antrim and Newtownabbey Borough Council for their role in local festive celebrations. The Quirky Choir continues to celebrate inclusion, creativity, and community through the power of music.',
            image_aos_delay: '300',
            text_aos_delay: '100',
            extra_class: 'md:min-h-screen',
        } %}

        {# George Best Community Cup #}
        {% include '_components/sections/image_text_section.twig' with {
            layout: 'img_left_text_right',
            image_src: '/assets/images/bridge_team_4.png',
            image_alt: 'Landscape',
            title: 'George Best Community Cup',
            text: 'Alongside our core work, the centre will also provide opportunities for the wider community to access training programmes and activities, enhancing local services and supporting skill-building, employability, and social connection. From health and wellbeing initiatives to family support, education, and community events, the new space will be a vibrant, inclusive resource at the heart of the community.',
            image_aos_delay: '200',
            text_aos_delay: '600',
            extra_class: 'md:min-h-screen',
        } %}

    </section>

{% endblock %}